.dashboard-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
  }
  
  .dashboard-card button {
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dashboard-card button:hover {
    background-color: #2980b9;
  }
  